
@font-face {
    font-family: 'Trim';
    src: url('../assets/Trim-Regular.woff2') format('woff2'),
    url('../assets/Trim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	margin: 0px;
	padding: 0;
	background: url("../imgs/fetish-priest.jpeg") no-repeat center center fixed; 
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circle {
	position: absolute;
	background: url("../assets/button.png") left center no-repeat; 
	background-size: 30px 30px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 30px;
	width: 30px;
}

.bertoia {
	left: 21%;
	top: 1%;
}

.knoll {
	left: 28%;
	top: 13%;
}

.paulin {
	left: 49%;
	top: 29%;
}

.hesterberg {
	left: 50%;
	top: 70%;
}

.piretti {
	left: 71%;
	top: 48%;
}

.bertoiaII {
	left: 84%;
	top: 73%;
}

img {
  clip-path: circle(50%);
  position: absolute;
  top: 18%;
  right: 1%;
}

.info {
	font-family: 'Trim', Arial;
	position: absolute;
	top: 28%;
	right: 0;
	color: white;
	background-color: black;
	font-size: 0.8em;
	padding: 5px;
}

.yellow {
	color: yellow;
}

@media only screen and (max-width: 600px) {
	
	html {
		margin: 0px;
		padding: 0;
		background: url("../imgs/fetish-priest-vert.jpeg") no-repeat center center fixed; 
		height: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.circle {
		height: 22px;
		width: 22px;
		background-size: 22px 22px;
	}

	.bertoia {
		left: 18%;
		top: 54%;
	}

	.knoll {
		left: 26%;
		top: 62%;
	}

	.paulin {
		left: 47%;
		top: 68%;
	}

	.hesterberg {
		left: 51%;
		top: 84%;
	}

	.piretti {
		left: 72%;
		top: 77%;
	}

	.bertoiaII {
		left: 86%;
		top: 88%;
	}
}




