
@font-face {
    font-family: 'Trim-Regular';
    src: url('../assets/Trim-Regular.woff2') format('woff2'),
    url('../assets/Trim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trim-Light';
    src: url('../assets/TrimMono-Light.woff2') format('woff2'),
        url('../assets/TrimMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Trim';
    src: url('../assets/TrimMono-Medium.woff2') format('woff2'),
        url('../assets/TrimMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
	color:white;
	text-decoration:none; 
}

html {
	height: 100%;
	top:0;
	margin: 0px;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	/*position: relative;*/
	height: 100%;
	margin: 0;
	overflow: hidden;
}


/* SCROLL CREDITS FUCTIONALITY */
.jctkr-wrapper,
.jctkr-wrapper *{
  box-sizing: border-box;
}
.jctkr-wrapper{
  display: inline-block;
  position: relative;
  width: 100%;
  /*height: 14px;*/
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  vertical-align: middle;
  line-height: 1vw;
  overflow: hidden;
}
.jctkr-wrapper ul{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  text-align: left;
}
.jctkr-wrapper.jctkr-initialized ul{
  opacity: 1;
}

.jctkr-wrapper ul li{
  display: inline-block;
  font-size: 0.7vw;
}

.jctkr-wrapper ul li a{
  color: black;
  text-decoration: underline;
}

.jctkr-label{
  display: inline-block;
}

/* SCROLL CREDITS END */


#background-img {
	position: absolute;
	height: 100%;
	width: 75%;
	background: url("../imgs/fetish-priest.jpg"); 
	left: 25%;
	background-size: 100%;
	/*background-size: 1200px auto;*/
	background-repeat: no-repeat;
	/*background-position: center;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

#buttons-div {
	position: absolute;
	height: 100%;
	width: 75%;
	left: 25%;
}

.circle {
	position: relative;
	background: url("../assets/button.png") left center no-repeat; 
	background-size: 30px 30px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 30px;
	width: 30px;
	display: block;
	margin: auto;
}

.desc {
	position: relative;
	display: block;
	margin: auto;
	border-radius: 5px;
	background: blue;
	padding: 0; 
	width: 145px;
	height: 30px; 
	line-height: 30px;
	margin-top: 10px; 
	text-align: center;
}

.break {
	display: none;
}

.breakdesktop {
	display: block;
}

.wrap {
	position: absolute;
	width: 145px;
	height: 70px;
}

.hidden {
	visibility: hidden;
}

.remove {
	display: none;
}

#bertoia-wrapper {	
	left: 14vw;
	/*left: calc(var(--ut, 1vw) * 13);*/
	top: 8vh;
}

#knoll-wrapper {
	left: 16.5vw;
	top: 28vh;
}

#paulin-wrapper {
	left: 29vw;
	top: 35vh;
}

#hesterberg-wrapper {
	left: 31vw;
	top: 72vh;
}

#piretti-wrapper {
	left: 47.5vw;
	top: 56.5vh;
}

#bertoiaII-wrapper {
	left: 62vw;
	top: 72vh;
}

#cir {
	position: absolute;
	width: 10px;
	height: 10px;
	background: red;
	border-radius: 50%;
}


.info-wrapper {
	position: absolute;
	top: 25vh;
	right: 0;
	width: 49vw;
}

.logo {
	position: relative;
	float: right;
	margin-top: 29.5vh;
	margin-right: 0.5vw;
	z-index: 1000;
}

.logo img {
	cursor: pointer;
	height: 3.3vw;
	width: 3.3vw;
}

img {
	-webkit-clip-path: circle(50%);
	clip-path: circle(50%);
	position: relative;
	display: block;
	height: 50px;
	width: 50px;
}

.info {
	position: relative;
	display: block;
	padding: 0.5vw;
	background-color: black;
	float: right;
}

.shop {
	position: absolute;
	top: 0;
	left: 0;
	background-color: blue;
	width: 25vw;
	height: 0.85vw;
    padding-bottom: 0.85vw;
    padding-top: 0.87vw;
    display: flex;
    align-items: center;
}

.shop p {
	margin-left: 20px;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: auto;
	clear: both;
   	float: left;
   	cursor: pointer;
   	font-size: 0.75vw;
   	line-height: 0.75vw;
   	padding-top: 0.20vw;
    padding-bottom: 0.08vw;
}

body .yellowOn {
	background-color: yellow;
 	color: blue;
}

.consign {
	position: absolute;
    margin-top: 15px;
}

#textbox-inner-w {
	position: absolute;
	display: inline-block;
	height: auto;
	bottom:0;

}

.textbox {
	position: absolute;
	top: 2.5vw;
	width: 25vw;
	margin-left: 0;
	background-color: black;
	left: 0;
	overflow: hidden;
	hyphens: auto;
}

.textbox p {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 16px;
}

.textbox p .highlightnum {
	cursor: pointer;
	color: yellow;
}

#textbox-inner-w .p01 {
	padding-bottom: 0;
	margin-bottom: 0;
}

.textbox p:nth-child(4) {
	padding-top: 0;
}

.textbox p .highlightnum:hover {
 	background-color: white;
 	color: blue !important; 
}

#textbox-inner-w.mobile-text {
	display: none;
}

#textbox-inner-w.desktop-text {
	display: block;
}

.text a:hover {
	background-color: white;
	color: blue;
}

p.yellowbox {
	width: calc(100% - 40px);
	position: absolute;
	background-color: yellow;
	color: black;
	margin: 0;
	display: inline-block;
}

.textbox .yellowbox .btm {
	position: absolute;
	bottom: 0;
	padding-bottom: 15px;
	padding-right: 20px;
	letter-spacing: 0.2px;
}

.textbox p .number3 {
	color: yellow;
}

.textbox p.textalign-rt {
	text-align: right;
	padding-top: 0 !important;
	font-family: 'Trim', Arial;
	font-size: 0.5vw;
}

.text {
	font-family: 'Trim', Arial;
	color: white;
	font-size: 0.7vw;
}

.credits {
	float: left;
	display: none;
	cursor: pointer;
	font-size: 0.5vw;
	margin-top: 0.2vw;
}

div.creditstext {
	float: left;
	width: 16.6vw;
	margin-left: -1vw;
	visibility: hidden;
	background-color: white;
	color: black;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0.4vw;
	padding-bottom: 0.4vw;
	font-family: 'Trim-Regular', Arial;
}

a.yellow {
	color: yellow;
	text-decoration: none;
}

.info-mobile {
	display: none;
}

.info-desktop {
	display: block;
	width: 100%;
	text-align: right;
}

#readmore span {
	cursor: pointer;
}

/* MAILING LIST SUBSCRIPTION */
#mc_embed_signup {
	width: 16.6vw;
	position: relative;
	float: right;
	display: none;
	margin-right: -3.9vw;
	margin-top: 6px;
}

#mc_embed_signup input {
	background-color: yellow;
	font-family: 'Trim-Light', Arial;
	outline: none;
	border: none;
	color: black;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	font-size: 0.7vw;
	width: 11vw;
	-webkit-appearance: none;
	-webkit-border-radius:0;
	border-radius:0;
}

.mc-field-group {
	padding-left: 0.5vw;
	background-color: yellow;
	width: 11.7vw;
}

.mc-field-group:first-child {
	border-top: dashed;
	border-color: yellow;
	border-width: 0.05vw;
}

.mc-field-group:nth-child(2) {
	border-bottom: dashed;
	border-color: yellow;
	border-width: 0.05vw;
}


#mc_embed_signup #mce-LNAME {
	border-bottom: dashed;
	border-color: black;
	border-width: 0.1vw;
}

#mc_embed_signup .subwrapper {
	color: white;
	margin-top: 5px;
	text-align: left;
}

#mc_embed_signup .subcontents {
	clear:both;
   	float:left;
   	width: 16.5vw;
   	background-color: black;
   	display: flex;
   	align-items: center;
}

#mc_embed_signup #mc-embedded-subscribe {
	background-color: black;
	font-family: 'Trim', Arial;
	color: white;
   	width: auto;
   	padding: 0;
   	margin: 0.5vw;
   	cursor: pointer;
}

#mc_embed_signup #mc-embedded-subscribe:hover {
	background-color: white;
	color: blue;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
 color: black;
}

::-ms-input-placeholder { 
 color: black;
}
/* END MAILING LIST SUBSCRIPTION */


@media only screen and (max-width: 600px) {
	
	html {
		margin: 0px;
		padding: 0;
		background: url("../imgs/fetish-priest-vert.jpg") no-repeat center; 
		height: 100%;
		background-size: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	#background-img {
		display: none;
	}

	.text {
		font-size: 2.3vw;
	}

	.circle {
		height: 22px;
		width: 22px;
		background-size: 22px 22px;
		cursor: pointer;
	}

	.break {
		display: block;
	}

	.breakdesktop {
		display: none;
	}

	.info-button {
		z-index: 100;
		position: absolute;
		background: url("../assets/info-button.png") left center no-repeat; 
		background-size: 30px 30px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 30px;
		width: 30px;
		display: block;
		right: 10px;
		bottom: 10px;
	}

	.info {
		padding: 0vw;
	}

	.desc {
		position: relative;
		font-family: 'Trim-Regular', Arial;
		display: block;
		margin: auto;
		background: blue;
		padding-top: 1.3vw;
		padding-bottom: 1vw;
		width: 23vw;
		height: 6vw; 
		line-height: 2.6vw;
		margin-top: 5px; 
		text-align: center;
		font-size: 2.3vw !important;
	}

	.desc a:hover {
		background-color: blue;
		color: white;
	}

	.num {
		font-size: 3.5vw;
	}

	.shop {
		width: 100vw;
		height: calc(var(--vh, 1vh) * 8.33);
		top: calc(var(--vh, 1vh) * 20);
		padding-top: 0;
		padding-bottom: 0;
	}

	.shop p {
		margin-left: 21.2vw;
    	width: 7.6vw;
		font-size: 2.4vw;
		line-height: 2.4vw;
		text-align: center;
		display: inline-block;
		padding-bottom: 0.35vw;
    	padding-top: 0.35vw;
	}

	/*.shop:hover {
		background-color: yellow;
		color: blue;
	}*/

	p.yellowbox {
		left: 0;
		text-indent:0;
		margin: 0;
		height: calc(var(--vh, 1vh) * 20.83);
		width: 48.1vw;
		line-height: 2.3vw;
	}

	.textbox .yellowbox .btm {
		padding: 0;
		padding-bottom: calc(var(--vh, 1vh) * 1);
		width: 48vw;
	}

	.info-wrapper {
		width: 100vw;
		top: calc(var(--vh, 1vh) * 11.67);
	}

	.info-mobile {
		line-height: 2.6vw;
		width: 100vw;
		height: calc(var(--vh, 1vh) * 4.35);
		padding-top: calc(var(--vh, 1vh) * 2);
		padding-bottom: calc(var(--vh, 1vh) * 2);
		text-align: right;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}

	.info-mobile p {
		margin-block-start: 0;
    	margin-block-end: 0;
    	margin-right: 1vw;
	}

	.info-desktop {
		display: none;
	}

	div.textbox {
		width: 50vw;
		right: 0;
		margin-left: auto;
		top: calc(var(--vh, 1vh) * 20);
		line-height: 2.5vw;	
		height: calc(var(--vh, 1vh) * 80);
	}

	.textbox p {
		padding: 1vw;
	}

	#textbox-inner-w .p01 {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	#textbox-inner-w .condense {
		margin-right: 40px;
		text-align: left;
	}

	.p2-desktop {
		display: none;
	}

	#textbox-inner-w.mobile-text {
		display: block;
	}

	#textbox-inner-w.desktop-text {
		display: none;
	}

	#textbox-inner-w .citation {
		color: yellow;
	}

	.consign {
		text-align: center;
		width: 48vw;
		margin-top: calc(var(--vh, 1vh) * 0.4);
	}

	.textbox p.textalign-rt {
		font-size: 1.6vw;
		line-height: 1.6vw;
		margin-top: 0.4vw;
	}

	.logo {
		position: absolute;
		cursor: pointer;
		margin: 0;
		top: calc(var(--vh, 1vh) * 1.66);
	}

	.logo img {
	    height: calc(var(--vh, 1vh) * 8.33);
	    width: calc(var(--vh, 1vh) * 8.33);
	}

	#mc_embed_signup {
		position: absolute;
		top: calc(var(--vh, 1vh) * 1.66);
		left: 16.66vw;
		margin: 0;
	}

	#mc_embed_signup input {
		position: absolute;
		font-size: 2.3vw;
		margin-left:1.5vw;
		margin-right:1vw;
		width: 58.34vw;
		padding: 0;
    	height: calc(var(--vh, 1vh) * 4.1);
    	padding-left: 2vw;
    	left: 0;
	}

	.mc-field-group {
		padding-left: 0.5vw;
		background-color: yellow;
		width: 62.84vw;
		height: calc(var(--vh, 1vh) * 8.43);
	}

	.mc-field-group:first-child {
		border: none;
	}

	.mc-field-group:nth-child(2) {
		border: none;
	}

	#mc_embed_signup #mc-embedded-subscribe {
		position: absolute;
		text-align: center;
		top: 0;
		width: 20vw;
		height: calc(var(--vh, 1vh) * 8.43);
		z-index: 50;
		margin: 0;
		left: 63.34vw;
	}

	#mc_embed_signup .subcontents {
		margin: 0;
		width:20vw;
	}

	#mc_embed_signup .subwrapper {
		margin: 0;
		top: 0;
	}

	#mc_embed_signup input#mce-EMAIL {
		top: calc(var(--vh, 1vh) * 4.165);
		border-top: dashed;
		border-color: black;
		border-width: calc(var(--vh, 1vh) * 0.1);
	}

	#mc_embed_signup #mce-LNAME {
		border: none;
	}
	
	#bertoia-wrapper {
		left: 6%;
		top: 54%;
	}

	#knoll-wrapper {
		left: 14%;
		top: 62%;
	}

	#paulin-wrapper {
		left: 36%;
		top: 68%;
	}

	#hesterberg-wrapper {
		left: 30%;
		top: 85%;
	}

	#piretti-wrapper {
		left: 60%;
		top: 77%;
	}

	#bertoiaII-wrapper {
		left: 64%;
		top: 85%;
	}
}




