
@font-face {
    font-family: 'Trim';
    src: url('../assets/Trim-Regular.woff2') format('woff2'),
    url('../assets/Trim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a, a:link, a:visited, a:focus, a:hover, a:active{
	color:white;
	text-decoration:none; 
}

html {
	margin: 0px;
	padding: 0;
	background: url("../imgs/fetish-priest.jpeg") no-repeat center center fixed; 
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circle {
	position: relative;
	background: url("../assets/button.png") left center no-repeat; 
	background-size: 30px 30px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 30px;
	width: 30px;
	display: block;
	margin: auto;
}

.desc {
	position: relative;
	display: block;
	margin: auto;
	border-radius: 25px;
	background: blue;
	padding: 0; 
	width: 130px;
	height: 30px; 
	line-height: 30px;
	margin-top: 10px; 
	text-align: center;
	font-size: 0.5em !important;
}

.wrap {
	position: absolute;
	width: 130px;
	height: 70px;
}

.hidden {
	display: none;
}

#bertoia-wrapper {	
	left: 18%;
	top: 1%;
}

#knoll-wrapper {
	left: 25%;
	top: 13%;
}

#paulin-wrapper {
	left: 45%;
	top: 28%;
}

#hesterberg-wrapper {
	left: 47%;
	top: 70%;
}

#piretti-wrapper {
	left: 68%;
	top: 48%;
}

#bertoiaII-wrapper {
	left: 80%;
	top: 78%;
}

img {
	-webkit-clip-path: circle(50%);
	clip-path: circle(50%);
	position: absolute;
	top: 18%;
	right: 1%;
}

.info {
	top: 28%;
	right: 0;
	padding: 1%;
	background-color: black;
}

.shop {
	top: 4%;
	left: 0;
	background-color: black;
	padding: 5px;
	padding-right: 100px !important;
}

.text {
	font-family: 'Trim', Arial;
	position: absolute;
	color: white;
	font-size: 0.6em;
}

a.yellow {
	color: yellow;
	text-decoration: none;
}

.info-mobile {
	display: none;
}

.info-desktop {
	display: block;
}

@media only screen and (max-width: 600px) {
	
	html {
		margin: 0px;
		padding: 0;
		background: url("../imgs/fetish-priest-vert.jpeg") no-repeat center center fixed; 
		height: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.circle {
		height: 22px;
		width: 22px;
		background-size: 22px 22px;
	}

	.desc {
		position: relative;
		display: block;
		margin: auto;
		border-radius: 25px;
		background: blue;
		padding: 0; 
		width: 112px;
		height: 20px; 
		line-height: 20px;
		margin-top: 5px; 
		text-align: center;
		font-size: 6pt !important;
	}

	.shop {
		top: 11%;
	}

	.info-mobile {
		display: block;
		line-height: 15px;
		width: 98%;
	}

	.info-desktop {
		display: none;
	}

	.hidden {
		display: none;
	}
	
	#bertoia-wrapper {
		left: 7%;
		top: 54%;
	}

	#knoll-wrapper {
		left: 15%;
		top: 62%;
	}

	#paulin-wrapper {
		left: 36%;
		top: 68%;
	}

	#hesterberg-wrapper {
		left: 40%;
		top: 84%;
	}

	#piretti-wrapper {
		left: 60%;
		top: 77%;
	}

	#bertoiaII-wrapper {
		left: 64%;
		top: 85%;
	}
}




